@model IEnumerable<Vaccinator.Models.Injection>

@{
    ViewData["Title"] = "Index";
}

<h1>Dashboard des injections</h1>

<p>
    <a asp-action="Create">Création d'une nouvelle injection</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VaccinType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RappelDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinType.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.Nom)
                @Html.DisplayFor(modelItem => item.Personne.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RappelDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Éditer</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
