@model IEnumerable<Vaccinator.Models.Personne>

@{
    ViewData["Title"] = "Index";
}

<h1>Non-Vacciné(e)s du @ViewData["NomVaccin"] cette année</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statut)
                </td>
            </tr>
        }
    </tbody>
</table>
